{% extends 'base.html.twig' %}

{% block title %}Perfil de jugador | Round Breaker{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto{% if competitions is defined %} col-lg-4 col-xl-5 py-3{% endif %}">
        <h1>Perfil</h1>
        <form method="post" action="">
            <input type="hidden" name="player_id" value="{{ player.id }}">
            <h5 class=" sport-text">{{ player ? player.username : 'Not logged in' }}</h5>
            <div class="card border border-secondary p-3">

                <div class="form-group">
                    <label for="inputUsername" class="sport-text">Username</label>
                    <input type="text" value="{{ player.username }}" name="username"
                        id="inputUsername" class="form-control" placeholder="Usuario" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="sport-text">Contraseña</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                        placeholder="Contraseña">
                </div>

                <div class="form-group">
                    <label for="inputPasswordRepeat" class="sport-text">Repetir contraseña</label>
                    <input type="password" name="passwordrepeat" id="inputPasswordRepeat" class="form-control"
                        placeholder="Repetir contraseña">
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="sport-text">Email</label>
                    <input type="email" name="email" value="{{ player.email }}"
                        id="inputEmail" class="form-control" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <label for="inputTwitchname" class="sport-text">Twitchname</label>
                    <input type="text" name="twitch_name"
                        value="{{ player.twitchname }}" id="inputTwitchname"
                        class="form-control" placeholder="Twitchname" required>
                </div>

                <button class="btn btn-lg btn-primary btn-dark break-text-large form-control" type="submit"
                    id="submit-edit">
                    Editar detalles
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-12 col-lg-8 col-xl-7 py-3">
        {% if competitions is defined %}
            <h1>Tus Torneos</h1>
            {% if competitions|length > 0 %}
                <ul class="list-group list-group-flush sport-text mb-3">
                    {% for competition in competitions %}
                    <li class="list-group-item d-flex justify-content-between w-100 {{ competition.isfinished ? ' bg-light' : '' }}">
                        <div class="pl-3 row d-flex align-items-center">
                            <a class="mr-1" href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}</a>
                            ({{ competition.game.name }}){% if competition.heldAt %}{{ competition.heldAt|toDateTimeLocal }}{% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No has organizado ningún torneo. <a href="{{ path('competition_new') }}">Crea un torneo!</a></p>
            {% endif %}
        {% endif %}
        {% if teams is defined %}
            <h1>Tus Equipos</h1>
            {% if teams|length > 0 %}
            <ul class="list-group list-group-flush sport-text mb-3">
                {% for team in teams %}
                <li class="list-group-item d-flex justify-content-between w-100 {{ team.competition.isfinished ? ' bg-light' : '' }}">
                    <div class="pl-3 row d-flex align-items-center">
                        <a class="mr-1" href="{{ path('team_show', {id: team.id}) }}">{{ team.name }}</a>
                        ({{ team.competition.game.name }}){% if team.ranking is not null %} - Ranking: {{ team.ranking }}{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No has participado en torneos con ningún equipo.</p>
            {% endif %}
        {% endif %}
        {% if registrations is defined %}
            <h1>Inscripciones</h1>
            {% if registrations|length > 0 %}
                <ul class="list-group list-group-flush sport-text mb-3">
                    {% for registration in registrations %}
                    <li class="list-group-item d-flex justify-content-between w-100 {{ registration.competition.isfinished ? ' bg-light' : '' }}">
                        <div class="pl-3 row d-flex align-items-center">
                            <a class="mr-1" href="{{ path('competition_show', {id: registration.competition.id}) }}">{{ registration.competition.name }}</a>
                            ({{ registration.competition.game.name }}){% if registration.competition.heldAt %}{{ registration.competition.heldAt|toDateTimeLocal }}{% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No estás preinscrito a ningún torneo.</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}