{% extends 'base.html.twig' %}

{% block title %}Perfil de jugador | Round Breaker{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12 col-lg-4 col-xl-5 py-3">
    <form method="post">
        <h6 class="card-title">Bienvenido:</h6>
        <h5 class=" sport-text">{{ player ? player.username : 'Not logged in' }}</h5>
        <h6>Edita tus datos de usuario.</h6>
        <div class="form-group card form-group border border-secondary p-3">
            <label for="inputUsername" class="sport-text">Username</label>
            <input type="text" value="{{ player.username is defined ? player.username : '' }}" name="username"
                id="inputUsername" class="mb-3 form-control" placeholder="Usuario" required autofocus>
            <label for="inputPassword" class="sport-text">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="mb-3 form-control" placeholder="Contraseña"
                required>
            <label for="inputPasswordRepeat" class="sport-text">Repetir contraseña</label>
            <input type="password" name="passwordrepeat" id="inputPasswordRepeat" class="mb-3 form-control"
            placeholder="Repetir contraseña" required>    
            <label for="inputEmail" class="sport-text">Email</label>
            <input type="email" name="email" value="{{ player.email is defined ? player.email : '' }}"
                id="inputEmail" class="mb-3 form-control" placeholder="Email" required>
            <label for="inputTwitchname" class="sport-text">Twitchname</label>
            <input type="text" name="twitch_name" value="{{ player.twitchname is defined ? player.twitchname : '' }}"
                id="inputTwitchname" class="mb-3 form-control" placeholder="Twitchname" required>
            <button class="btn btn-lg btn-primary btn-dark break-text-large form-control" type="submit" id="submit">
                Editar mis detalles
            </button>
        </div>
    </form>
</div>
<div class="col-md-12 col-lg-8 col-xl-7 py-3">
<h1>Histórico de Torneos</h1>
{% if competitions is defined %}
<ul class="list-group list-group-flush sport-text mb-3">
    {% for competition in competitions %}
    <li class="list-group-item d-flex justify-content-between w-100">
        <span class="d-flex align-items-center">
            <a class="mr-1" href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}</a>
            ({{ competition.game.name }}){% if competition.heldAt %}
            {{ competition.heldAt|toDateTimeLocal }}{% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}
</div>
</div>
{% endblock %}