{% extends 'base.html.twig' %}

{% block title %}Ver jugador | Round Breaker{% endblock %}

{% block content %}
        <h1 class="sport-text">{{ player.username}}</h1>
        {%  if is_granted("ROLE_ADMIN") %}
            <a class="btn btn-dark mb-3 sport-text" href="{{ path('player_edit', {id: player.id}) }}">Editar Jugador</a>
        {% endif %}
    <div class="col-md-12 col-lg-8 col-xl-7 py-3">
        <h3 class="sport-text">Torneos</h3>
        {% if competitions|length > 0 %}
            <ul class="list-group list-group-flush sport-text mb-3">
                {% for competition in competitions %}
                    <li class="list-group-item d-flex justify-content-between w-100 {{ competition.isfinished ? ' bg-light' : '' }}">
        <span class="d-flex align-items-center text-truncate">
            <a class="mr-1" href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}</a>
            ({{ competition.game.name }}){% if competition.heldAt %}
                {{ competition.heldAt|toDateTimeLocal }}{% endif %}
        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No ha organizado ningún torneo.</p>
        {% endif %}
        <h3 class="sport-text">Registros</h3>
        {% if registrations|length > 0 %}
            <ul class="list-group list-group-flush sport-text mb-3">
                {% for registration in registrations %}
                    <li class="list-group-item d-flex justify-content-between w-100 {{ registration.competition.isfinished ? ' bg-light' : '' }}">
        <span class="d-flex align-items-center text-truncate">
            <a class="mr-1" href="{{ path('competition_show', {id: registration.competition.id}) }}">{{ registration.competition.name }}</a>
            ({{ registration.competition.game.name }}){% if registration.competition.heldAt %}
                {{ registration.competition.heldAt|toDateTimeLocal }}{% endif %}
        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No está preinscrito a ningún torneo.</p>
        {% endif %}
        <h3 class="sport-text">Equipos</h3>
        {% if teams|length > 0 %}
            <ul class="list-group list-group-flush sport-text mb-3">
                {% for team in teams %}
                    <li class="list-group-item d-flex justify-content-between w-100 {{ team.competition.isfinished ? ' bg-light' : '' }}">
        <span class="d-flex align-items-center text-truncate">
            <a class="mr-1" href="{{ path('team_show', {id: team.id}) }}">{{ team.name }}</a>
            ({{ team.competition.game.name }}){% if team.competition.heldAt %}
                {{ team.competition.heldAt|toDateTimeLocal }}{% if team.ranking is not null %} - Ranking: {{ team.ranking }}{% endif %}
            {% endif %}
        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No ha participado en torneos con ningún equipo.</p>
        {% endif %}
    </div>
{% endblock %}