{% extends 'base.html.twig' %}

{% block title %}Mi equipo | Round Breaker{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
            <h1 class="card-title sport-text">Equipo: {{ team.name }}</h1>
            <ul class="list-group mb-3">
                {% for player in team.players %}
                <li class="list-group-item sport-text"><a href="{{ path('player_show', { id: player.id }) }}">
                        {{ player.username }}</a> {{ team.captain == player ? '<i class="fa fa-star text-warning"></i>' : '' }}<a href="http://www.twitch.tv/{{ player.twitchName }}" target="_blank">
                        <i class="fa fa-twitch"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <h1>Competición:</h1>
            <ul class="list-group">
                <li class="list-group-item sport-text"><a href="{{ path('competition_show', {id: team.competition.id}) }}">{{team.competition.name}}</a></li>
                <li class="list-group-item sport-text">Organiza: <a href="{{ path('player_show', { id: team.competition.streamer.id }) }}">
                        {{ team.competition.streamer.username }}</a></li>
                {% if team.competition.heldAt %}<li class="list-group-item sport-text">Fecha y hora: {{ team.competition.heldAt|toDateTimeLocal }}</li>{% endif %}
                {% if team.competition.lobbyName %}<li class="list-group-item sport-text">Sala: {{ team.competition.lobbyName }}</li>{% endif %}
                {% if team.competition.lobbyPassword %}<li class="list-group-item sport-text">Contraseña de sala: {{ team.competition.lobbypassword }}</li>{% endif %}
                {% if team.ranking is not null %}<li class="list-group-item sport-text">Ranking de equipo: {{ team.ranking }}</li>{% endif %}
                <li class="list-group-item sport-text">{{ team.competition.isOpen ? "Abierta" : "Cerrada" }} y {{ team.competition.isFinished ? "Terminada" : "En Curso" }}
                </li>
    </div>
    {% if canEditName %}
    <div class="col-sm-6 p-3">
        <form method="post">
            <div class="card border border-secondary p-3">
                <div class="form-group">
                <label for="inputName" class="sport-text-form">{% if is_granted("ROLE_ADMIN") %}Editar nombre de equipo{% else %}Eres capitán, cambia el nombre a tu equipo{% endif %}</label>
                <input type="text" value="{{ team.name }}" name="name" id="inputName"
                    class="form-control form-control-lg">
                </div>
                <button class="btn btn-lg btn-dark break-text-large mt-3" type="submit" id="submit-edit">
                    Cambiar!
                </button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
