<a data-round="{{ round.id }}" data-team="{{ team.id }}"
   class="{{ clickable ? 'bracket-button' : '' }} {{ round.winner ? round.winner == team ? 'win' : 'lose' : '' }}"
   {% if clickable %}href="#" {% endif %}title="{{ team.name }}">{{ team.name }}</a>