<link rel="stylesheet" href="{{ asset('css/brackets.css') }}" />
<!--<i class="fas fa-angle-double-right"></i>-->
<div class="single bracket ml-3 mt-3">
	{% if competition and app.user %}
	<div>
		<h1>{{ competition.name }}</h1>
	</div>
	{% endif %}
	<div class="bracket-container scrollable-x">
		<table class="bracket refresh" align="center">
			{% if app.user %}
			<thead>
				<tr>
					<th colspan="2">Cuartos</th>
					<th colspan="2">Semifinales</th>
					<th colspan="2">Final</th>
				</tr>
				<tr class="spacer"></tr>
			</thead>
			{% endif %}
			<tbody>
				<tr>
					<td class="match l1 o1 t1"><span
							class="{{ competition.rounds[0].winner == competition.rounds[0].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[0].teams[0].name }}">{{ competition.rounds[0].teams[0].name }}</span>
					</td>
					<td class="line bb"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>
				</tr>
				<tr>
					<td class="match l1 o1 t2"><span
							class="{{ competition.rounds[0].winner == competition.rounds[0].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[0].teams[1].name }}">{{ competition.rounds[0].teams[1].name }}</span>
					</td>
					<td class="line br"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>
				</tr>
				<tr>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="match l2 o1 t1"><span
							class="{{ competition.rounds[4].winner == competition.rounds[4].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[4].teams[0].name }}">{{ competition.rounds[4].teams[0].name }}</span>
					</td>
					<td class="line bb"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l2 o1 t2"><span
							class="{{ competition.rounds[4].winner == competition.rounds[4].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[4].teams[1].name }}">{{ competition.rounds[4].teams[1].name }}</span>
					</td>
					<td class="line br"></td>
				</tr>
				<tr>
					<td class="match l1 o2 t1"><span
							class="{{ competition.rounds[1].winner == competition.rounds[1].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[1].teams[0].name }}">{{ competition.rounds[1].teams[0].name }}</span>
					</td>
					<td class="line br bb"></td>
					<td class="line"></td>
					<td class="line br"></td>
				</tr>
				<tr>
					<td class="match l1 o2 t2"><span
							class="{{ competition.rounds[1].winner == competition.rounds[1].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[1].teams[1].name }}">{{ competition.rounds[1].teams[1].name }}</span>
					</td>
					<td class="line"></td>
					<td class="line"></td>
					<td class="line br"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line"></td>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="match l3 o1 t1"><span
							class="{{ competition.rounds[6].winner == competition.rounds[6].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[6].teams[0].name }}">{{ competition.rounds[6].teams[0].name }}</span>
					</td>
				</tr>
				<tr>
					<td class="line"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l3 o1 t2"><span
							class="{{ competition.rounds[6].winner == competition.rounds[6].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[6].teams[1].name }}">{{ competition.rounds[6].teams[1].name }}</span>
					</td>
				</tr>
				<tr>
					<td class="match l1 o3 t1"><span
							class="{{ competition.rounds[2].winner == competition.rounds[2].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[2].teams[0].name }}">{{ competition.rounds[2].teams[0].name }}</span>
					</td>
					<td class="line bb"></td>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="empty"></td>
				</tr>
				<tr>
					<td class="match l1 o3 t2"><span
							class="{{ competition.rounds[2].winner == competition.rounds[2].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[2].teams[1].name }}">{{ competition.rounds[2].teams[1].name }}</span>
					</td>
					<td class="line br"></td>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="empty"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l2 o2 t1"><span
							class="{{ competition.rounds[5].winner == competition.rounds[5].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[5].teams[0].name }}">{{ competition.rounds[5].teams[0].name }}</span>
					</td>
					<td class="line bb br"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l2 o2 t2"><span
							class="{{ competition.rounds[5].winner == competition.rounds[5].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[5].teams[1].name }}">{{ competition.rounds[5].teams[1].name }}</span>
					</td>
					<td class="line"></td>

				</tr>
				<tr>
					<td class="match l1 o4 t1"><span
							class="{{ competition.rounds[5].winner == competition.rounds[5].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[3].teams[0].name }}">{{ competition.rounds[3].teams[0].name }}</span>
					</td>
					<td class="line bb br"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>

				</tr>
				<tr>
					<td class="match l1 o4 t2"><span
							class="{{ competition.rounds[3].winner == competition.rounds[3].teams[0] ? 'win-1' : 'win-2' }}"
							title="{{ competition.rounds[3].teams[1].name }}">{{ competition.rounds[3].teams[1].name }}</span>
					</td>
					<td class="line"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>

				</tr>
			</tbody>
		</table>
	</div>
	<a href="#" class="bracket-zoom"><i class="fas fa-expand-arrows-alt"></i></a>
</div>