{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        {%  if competition %}
        <h1 class="text-center"><a href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}</a></h1>
            {% if bracketType == 2 %}{% include 'brackets/bracket_2.html.twig' %}
            {% elseif bracketType == 4 %}{% include 'brackets/bracket_4.html.twig' %}
            {% elseif bracketType == 8 %}{% include 'brackets/bracket_8.html.twig' %}
            {% elseif bracketType == 16 %}{% include 'brackets/bracket_16.html.twig' %}
            {% endif %}
        {% endif %}
        <div class="col-md-12 px-0">
            <h1>¿Qué es roundbreaker?</h1>
            <p class="text-left">RoundBreaker es un sistema de gestión de competiciones de e-sports que abarca
                inscripciones, formaciones de equipos y gestión de rondas además de integración con Twitch.</p>

            <p class="text-left">Para streamers, jugadores profesionales y todo el que tenga un afán para la competición.
            En RoundBreaker podrás crear y unirte a torneos para demostrar de una vez por todas, quién es el mejor. Con nuestro sistema
            de randomización siempre encontrarás un nuevo rival con el que competir.</p>

            <p class="text-left">Con un historial de resultados y competiciones público, podrás explorar y encontrar
                un torneo que se adapte a ti. ¿A qué esperas? ¡Apúntate!</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item sport-text">
                        <a id="login-tab" class="nav-link active" href="#">Login</a>
                    </li>
                    {% if not player %}
                    <li class="nav-item sport-text">
                        <a id="register-tab" class="nav-link" href="#">Registro</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-body">
                <form id="login-form" method="post" action="{{ path('app_login') }}">
                    {% if player %}
                    <div class="m-3">
                        <p class="text-center">¡Hola, {{ player.username }}!</p>
                        <a class="btn btn-dark sport-text w-100 mb-3" href="{{ path('profile') }}">Mi Perfil</a>
                        <a class="btn btn-dark sport-text w-100 mb-3" href="{{ path('competition_new') }}">Crear Torneo</a>
                        <a class="btn btn-light sport-text w-100" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    {% else %}
                    <h6 class="card-title">Inicia sesión como jugador para gestionar tus inscripciones</h6>
                    <div class="form-group">
                        <label for="inputUsernameLogin" class="d-none">Username</label>
                        <input type="text" value="{{ last_username is defined ? last_username : '' }}" name="username"
                            id="inputUsernameLogin" class="mb-3 form-control" placeholder="Usuario" required autofocus>
                        <label for="inputPasswordLogin" class="d-none">Password</label>
                        <input type="password" name="password" id="inputPasswordLogin" class="form-control"
                            placeholder="Contraseña" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button id="submit-login" class="btn btn-lg btn-primary btn-dark sport-text form-control" type="submit">
                        Log in
                    </button>
                    <a href="{{ path('app_forgot_password_request') }}">He olvidado mi contraseña</a>
                    {% endif %}
                </form>
                {% if not player %}
                <form id="register-form" method="post" action="{{ path('user_registration') }}" class="d-none">
                    <h6 class="card-title">Regístrate y participa en innnumerables torneos!</h6>
                    <div class="form-group">
                        <label for="inputUsername" class="d-none">Username</label>
                        <input type="text" value="{{ last_username is defined ? last_username : '' }}" name="username"
                            id="inputUsername" class="mb-3 form-control" placeholder="Usuario" required>
                        <label for="inputPassword" class="d-none">Password</label>
                        <input type="password" name="password" id="inputPassword" class="mb-3 form-control"
                            placeholder="Contraseña" required>
                        <label for="inputPasswordRepeat" class="d-none">Repetir Password</label>
                        <input type="password" name="passwordrepeat" id="inputPasswordRepeat" class="mb-3 form-control"
                            placeholder="Repetir Contraseña" required>
                        <label for="inputEmail" class="d-none">Email</label>
                        <input type="email" name="email" value="{{ last_email is defined ? last_email : '' }}"
                            id="inputEmail" class="mb-3 form-control" placeholder="Email" required>
                            <label for="inputTwitchname" class="d-none">Twitchname</label>
                        <input type="text" name="twitchname" value="{{ last_twitchname is defined ? last_twitchname : '' }}"
                            id="inputTwitchname" class="mb-3 form-control" placeholder="Twitchname" required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-dark sport-text form-control" type="submit" id="submit-register">
                        Registrar
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header text-center cards">¡lo más jugado!</div>
            <ul class="list-unstyled my-1 px-3">
            {% for game in mostsPlayed %}
                <li class="my-2">
                    <a href="{{ path('game_show', { id: game[0].id }) }}">{{ game[0].name }}</a>
                    ({{ game[1] }} torneos)
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="card">
            <div class="card-header text-center cards">Redes Sociales</div>
            <div class="row p-3">
                <div class="col rrss"><a href="https://www.facebook.com"><img src="{{ asset('img/facebook.png') }}" class="img-fluid" /></a></div>
                <div class="col rrss"><a href="https://www.twitch.tv"><img src="{{ asset('img/twitch.png') }}" class="img-fluid" /></a></div>
                <div class="col rrss"><a href="https://www.twitter.com"><img src="{{ asset('img/gorjeo.png') }}" class="img-fluid" /></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
