{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html' %}
    <div id="main">
        <a href="{{ path('create_game') }}">Create Game</a>
        <a href="{{ path('create_competition') }}">Create Competition</a>
        <a href="{{ path('join_competition') }}">Join Competition</a>
        <a href="{{ path('create_team') }}">Create Team</a>
        <a href="{{ path('join_team') }}">Join Team</a>
        <a href="{{ path('app_logout') }}">Logout</a>
        <div id="Games">
            <br/>Games
            {% for game in games %}
                <div>{{ game.name }}: {{ game.description }}</div>
            {% else %}
                <p>No games</p>
            {% endfor %}
        </div>
        <div id="Competitions">
            <br/>Competitions
            {% for competition in competitions %}
                <div><a href="{{ path('view_competition', {competition: competition.name}) }}">{{ competition.name }}</a>: {{ competition.description }} - {{ competition.game.name }}</div>
            {% else %}
                <p>No competitions</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}