{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    {% if competition.isopen == false %}
    {% include 'brackets/bracket_8.html.twig' %}
    {% endif %}
</div>
{% if competition.isopen == false %}
<div>
    <h1>Equipos</h1>
    {% for team in teams %}

    <div class="w-50 my-2 bg-light border">
        <div class="card-body">
            <h5 class="card-title sport-text">{{ team.name }}</h5>
            <ul class="list-group">
                {% for player in team.players %}
                <li class="list-group-item sport-text">{{ player.username }}
                    <!--<a href="#"><i class="fas fa-skull"></i></a>-->
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    {% endfor %}
{% endif %}
    <div>
        <h1>Jugadores Registrados</h1>
        <ul class="list-group list-group-flush sport-text">
            {% for registration in competition.registrations %}
            <li class="list-group-item w-50">{{ registration.player.username }}
                <span class="float-right">
                    <a href="#"><i class="fas fa-skull"></i></a>
                    {% if registration.isConfirmed == true %}
                    <a href="#"><i class="far fa-check-square"></i></a>
                    {% else %}
                    <a href="#"><i class="far fa-square"></i></a>
                    {% endif %}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if createStreamerButtons %}
<a class="btn btn-dark mb-3" href="{{ path('competition_edit', {id: competition.id}) }}">Edit Competition</a>
        <form action="/competition/delete" method="POST">
        <input type="hidden" name="id" value="{{ competition.id }}">
        <input type="submit" value="Delete Competition">
    </form>
{% endif %}
{% if createRegistrationButtons %}
    {% if player in competition.players %}
        <form action="/competition/registration_delete" method="POST">
            <input type="hidden" name="competitionId" value="{{ competition.id }}">
            <input type="hidden" name="playerId" value="{{ player.id }}">
            <input type="submit" value="Leave Competition">
        </form>
    {% else %}
        <form action="/competition/registration_new" method="POST">
            <input type="hidden" name="id" value="{{ competition.id }}">
            <input type="submit" value="Join Competition">
        </form>
    {% endif %}
{% if createRandomizeButton  %}
<a class="btn btn-dark mb-3" href="{{ path('competition_randomize', {id: competition.id}) }}">Randomize Competition</a>
{% endif %}
{% endif %}
</div>
{% endblock %}
