{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    {% if competition %}
        <div>
            Competition:
            {{ competition.name }}
        </div>
        {% if competition.creator.username == app.user.username and competition.isOpen and competition.isIndividual == false %}
            <a href="{{ path('competition_randomize', {id: competition.id}) }}">Randomize Teams</a>
        {% endif %}
        <div>
            Players:
            {% for registration in competition.registrations %}
                {{ registration.player.username }}
            {% endfor %}
            {% if competition.isIndividual == false %}
                <br>Teams:
                {% for team in teams %}
                    {{ team.name }}:
                    {% for player in team.players %}
                        {{ player.username }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        No competition selected.
    {% endif %}
{% endblock %}