{% extends 'base.html.twig' %}

{% block content %}
<div class="row m-3">
    {% if competition %}
    <div>
        Competition:
        {{ competition.name }}
    </div>
        {% if competition.streamer.username == app.user.username %}
            <a href="{{ path('competition_edit', {id: competition.id}) }}">Edit Competition</a>
            <a href="{{ path('competition_delete', {id: competition.id}) }}">Delete Competition</a>
        {% endif %}
        {% if app.user and competition.isOpen %}
        <a href="{{ path('competition_join', {id: competition.id}) }}">Join Competition</a>
            {% if competition.isIndividual == false %}
                <a href="{{ path('competition_randomize', {id: competition.id}) }}">Randomize Competition</a>
        {% endif %}
    {% endif %}
    <div>
        Players:
        {% for registration in competition.registrations %}
            {{ registration.player.username }}
        {% endfor %}
        <br>Teams:<br>
        {% for team in teams %}
        {% if player in team.players %}
            <a href="{{ path('team_show', {id: team.id}) }}">View Team</a>
        {% endif %}
        {{ team.name }}:<br>
        {% for player in team.players %}
            {{ player.username }}<br>
        {% endfor %}
        <br>
        {% endfor %}
    </div>
    {% else %}
        No competition selected.
    {% endif %}
</div>
{% endblock %}