{% extends 'base.html.twig' %}

{% block title %}Lista de juegos | Round Breaker{% endblock %}

{% block content %}
    <h1>Juegos {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-dark sport-text" href="{{ path('game_new') }}">Crear Juego</a>{% endif %}</h1>
    {% if games|length > 0 %}
        <ul class="list-group list-group-flush sport-text">
            {% for game in games %}
            <li class="list-group-item d-flex justify-content-between col-12 col-xs-9 game-item">
                <div class="pl-3 row d-flex align-items-center">
                    <a class="mr-1" href="{{ path('game_show', {id: game.id}) }}">{{ game.name }}&nbsp;</a> {{ game.description }}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="d-flex align-items-center">
                    <a class="btn btn-dark sport-text mr-2" href="{{ path('game_edit', {id: game.id}) }}">Editar</a>
                    <form action="{{ path('game_delete') }}" method="POST" class="d-inline">
                        <input type="hidden" name="game_id" value="{{ game.id }}">
                        <input class="btn btn-dark sport-text confirmable submit-delete" type="submit" value="borrar">
                    </form>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no se han dado de alta juegos.</p>
    {% endif %}
{% endblock %}
