{% extends 'base.html.twig' %}

{% block title %}Ver juego | Round Breaker{% endblock %}

{% block content %}

        <h1>{{ game.name }}</h1>
        <h3 class="sport-text">{{ game.description }}</h3>

        {% include('competition/list.html.twig') %}

        {% if canEditGame %}
            <a class="btn btn-dark sport-text mt-3" href="{{ path('game_edit', {id: game.id}) }}">Editar Juego</a>
            <form action="{{ path('game_delete') }}" method="POST" class="d-inline">
                <input type="hidden" name="game_id" value="{{ game.id }}">
                <input class="btn btn-dark sport-text mt-3 confirmable" type="submit" value="Eliminar Juego" id="submit-delete">
            </form>
        {% endif %}

{% endblock %}
