{% extends 'base.html.twig' %}

{% block title %}Editar torneo | Round Breaker{% endblock %}

{% block content %}
<div class="row competition-title">
    <div class="col-12">
        <h1 class="text-center">{{competition.name}}</h1>
        <h4 class="text-center streamer">Organiza: <a href="{{ path('player_show', { id: competition.streamer.id }) }}">
            {{ competition.streamer.username }}
        </a></h4>
        <h4 class="text-center">Estado: {{ competition.isOpen ? "Abierta" : "Cerrada" }} y {{ competition.isFinished ? "Terminada" : "En Curso" }} - {{ competition.heldAt|toDateTimeLocal }}</h4>
        <h4 class="text-center">Máximo de equipos: {{ competition.maxPlayers/competition.playersPerTeam }} - Jugadores por equipo: {{ competition.playersPerTeam }}</h4>
    </div>
</div>

{% if randomize %}
<form action="{{ path('competition_randomize') }}" method="POST" class="d-inline">
    <input type="hidden" name="competition_id" value="{{ competition.id }}">
    <button class="btn btn-lg btn-block btn-dark break-text-large my-3" type="submit" id="submit-randomize">Asignar equipos!</button>
</form>
{% endif %}

{% if bracketType > 0 %}
    <div class="row">
        <div class="col-12">
            {% if bracketType == 2 %}{% include 'brackets/bracket_2.html.twig' %}
            {% elseif bracketType == 4 %}{% include 'brackets/bracket_4.html.twig' %}
            {% elseif bracketType == 8 %}{% include 'brackets/bracket_8.html.twig' %}
            {% elseif bracketType == 16 %}{% include 'brackets/bracket_16.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12 col-lg-8 col-xl-6 border-0">
        <form method="post" class="{{ competition.isOpen ? 'open' : 'close' }}-competition">
            <div class="card form-group border border-secondary p-3 custom-control custom-checkbox">
                <label for="inputName" class="sport-text-form">Nombre<span class="text-danger">*</span></label>
                <input type="text" value="{{ competition.name }}" name="name" id="inputName"
                    class="form-control mb-3 form-control-lg" required>

                <label for="inputDescription" class="sport-text-form">Descripción</label>
                <input type="text" value="{{ competition.description }}" name="description" id="inputDescription"
                    class="form-control mb-3 form-control-lg">


                {% if not competition.isfinished %}
                <label for="inputLobbyName" class="sport-text-form">Nombre de sala</label>
                <input type="text" value="{{ competition.lobbyname }}" name="lobbyname" id="inputLobbyName"
                    class="form-control mb-3 form-control-lg">

                <label for="inputLobbyPassword" class="sport-text-form">Contraseña de sala</label>
                <input type="text" value="{{ competition.lobbypassword }}" name="lobbypassword" id="inputLobbyPassword"
                    class="form-control mb-3 form-control-lg">
                {% endif %}

                {% if competition.isOpen %}
                <label for="inputTeamNum" class="sport-text-form">Número de Equipos<span class="text-danger">*</span></label>
                <select id="inputTeamNum" name="teamNum"
                    class="form-control col-12 mb-3 sport-text-form form-control-lg" required>
                    <option value="">Escoge...</option>
                    <option value="2"{{ competition|teamsNumber == 2 ? ' selected' : '' }}>2</option>
                    <option value="4"{{ competition|teamsNumber == 4 ? ' selected' : '' }}>4</option>
                    <option value="8"{{ competition|teamsNumber == 8 ? ' selected' : '' }}>8</option>
                    <option value="16"{{ competition|teamsNumber == 16 ? ' selected' : '' }}>16</option>
                </select>

                <label for="inputPlayersPerTeam" class="sport-text-form">Jugadores por Equipo<span class="text-danger">*</span></label>
                <select id="inputPlayersPerTeam" name="playersPerTeam" class="form-control col-12 mb-3 sport-text-form form-control-lg" required>
                    <option value="">Escoge...</option>
                    <option value="1"{{ competition.playersPerTeam == 1 ? ' selected' : '' }}>1</option>
                    <option value="2"{{ competition.playersPerTeam == 2 ? ' selected' : '' }}>2</option>
                    <option value="3"{{ competition.playersPerTeam == 3 ? ' selected' : '' }}>3</option>
                    <option value="4"{{ competition.playersPerTeam == 4 ? ' selected' : '' }}>4</option>
                    <option value="5"{{ competition.playersPerTeam == 5 ? ' selected' : '' }}>5</option>
                </select>

                <label for="inputGame" class="sport-text-form">Juego<span class="text-danger">*</span></label>
                <select name="game" id="inputGame" class="form-control col-12 mb-3 sport-text-form form-control-lg" required>
                    <option value="">Escoge...</option>
                    {% for game in games %}
                    <option value="{{ game.id }}"{{ competition.game == game ? ' selected' : '' }}>{{ game.name }}</option>
                    {% endfor %}
                </select>

                <label for="dateAndTime" class="sport-text-form mb-3">Fecha y Hora<span class="text-danger">*</span></label>
                <input class="form-control mb-3 form-control-lg" type="datetime-local"
                       value="{{ competition.heldAt|toDateTimeFormat }}" id="dateAndTime" name="heldAt">
                {% endif %}

                <div class="custom-control custom-checkbox check">
                    <input type="checkbox" name="open" id="inputOpen"{{ competition.isOpen ? ' checked' : '' }}>
                    <label for="inputOpen" class="sport-text-form">Preinscripción abierta</label>
                </div>

                <button class="btn btn-lg btn-dark break-text-large mt-3" type="submit" id="submit-edit">
                    Editar!
                </button>
            </div>
        </form>
    </div>

    <div id="chat" class="col-md-12 col-lg-8 col-xl-6 border-0">
        <form id="twitch_params">
            <div class="card form-group border border-secondary p-3">
                <input class="form-control mb-3 form-control-lg" type="hidden" name="competition_id"
                    value="{{ competition.id }}" />
                <label class="sport-text-form" for="inputBotName">Nombre del Twitch Bot</label>
                <input class="form-control mb-3 form-control-lg" type="text"
                    id="inputBotName" name="twitch_bot_name" value="{{ competition.twitchBotName }}" />
                <label class="sport-text-form" for="inputBotToken">Token del Twitch Bot (<a href="https://twitchapps.com/tmi">Obtén un Token</a>)</label>
                <input class="form-control mb-3 form-control-lg" type="text"
                    id="inputBotToken" name="twitch_bot_token" value="{{ competition.twitchBotToken }}" />
                <label class="sport-text-form" for="inputChannel">Canal de Twitch</label>
                <input class="form-control mb-3 form-control-lg" type="text"
                    id="inputChannel" name="twitch_channel" value="{{ competition.twitchChannel }}" />
                <button id ="submit-new" class="btn btn-lg btn-dark break-text-large mt-3" type="submit"{{ competition.isOpen ? '' : ' disabled' }}>
                    Abrir confirmaciones!
                </button>
            </div>
        </form>
    </div>

</div>
<script src="{{ asset('js/tmi.js') }}"></script>
<script src="{{ asset('js/twitch.js') }}"></script>

<div class="row">

    {% if not competition.isOpen %}
        <div class="col-12 col-lg-6">
            <h1 class="text-center">Equipos</h1>
            {% for team in competition.teams %}
                <div class="my-2 bg-light border team-item">
                    <div class="card-body">
                        <h5 class="card-title sport-text">{{ team.name }}</h5>
                        <ul class="list-group">
                            {% for player in team.players %}
                                <li class="list-group-item sport-text">{{ player.username }} {{player == team.captain ? '<i class="fa fa-star text-warning"></i>' : '' }}
                                    <form action="{{ path('kick_member') }}" method="post" class="d-inline">
                                        <input type="hidden" name="team_id" value="{{ team.id }}">
                                        <input type="hidden" name="player_id" value="{{ player.id }}">
                                        <div class="float-right"><button class="fa fa-random controls confirmable" type="submit" title="cambiar jugador"></button></div>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="col-12 col-lg-6 {{ competition.isOpen ? 'offset-lg-3' : '' }}">
        <h1 class="text-center">Inscripciones</h1>
        <ul class="list-group list-group-flush sport-text mb-3 registrations">
            {% for registration in competition.registrations %}
                <li id="registration-{{ registration.id }}" class="registration-item list-group-item{{ registration.isConfirmed ? ' confirmed' : '' }}">
                    {{ registration.player.username }}
                    <div class="float-right">
                        {% if competition.isOpen %}
                            <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                                <input type="hidden" name="registration_id" value="{{ registration.id }}">
                                <button id="submit-delete" class="fa fa-times-circle controls confirmable" type="submit" title="Ban"></button>
                            </form>
                            <form action="{{ path('toggle_confirmation') }}" method="POST" class="d-inline">
                                <input type="hidden" name="registration_id" value="{{ registration.id }}">
                                <input type="hidden" name="confirm" value="{{ registration.isConfirmed ? 0 : 1 }}">
                                <button id="submit-edit" class="controls" type="submit"
                                        title="{{ registration.isConfirmed ? 'Unconfirm' : 'Confirm' }}">
                                    <i class="fa fa-square-o"></i>
                                    <i class="fa fa-check-square-o"></i>
                                </button>
                        </form>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <form action="{{ path('competition_delete') }}" method="POST" class="d-inline">
            <input type="hidden" name="competition_id" value="{{ competition.id }}">
            <input id="submit-delete" class="btn btn-dark sport-text mb-3 confirmable" type="submit" value="Eliminar Torneo">
        </form>
        {% if showRegistrationButton %}
            {% if playerRegistration %}
            <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                <input type="hidden" name="registration_id" value="{{ playerRegistration.id }}">
                <input id="submit-delete" class="btn btn-dark sport-text mb-3" type="submit" value="Abandonar">
            </form>
            {% else %}
            <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                <input type="hidden" name="competition_id" value="{{ competition.id }}">
                <input id="submit-new" class="btn btn-dark sport-text mb-3" type="submit" value="Unirse">
            </form>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
