{% extends 'base.html.twig' %}

{% block content %}
<div style="min-height: 867px;" class="pt-3">

    <h1>Torneos</h1>
    <ul class="list-group list-group-flush sport-text mb-3">
        {% for competition in competitions %}
        <li class="list-group-item d-flex justify-content-between w-75">
            <span class="d-flex align-items-center">
                <a href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}&nbsp;</a>
                - {{ competition.game.name }}{% if competition.description %} - {{ competition.description }}{% endif %}
            </span>
            {% if competition.isopen and (player not in competition.players) %}
                <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                    <input type="hidden" name="id" value="{{ competition.id }}">
                    <input class="btn btn-dark sport-text" type="submit" value="Unirse">
                </form>
            {% else %}
                {# TODO #} HACER BOTON DE ELIMINAR REGISTRO
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {#{% if canEditGame %} TODO: No sé lo que hace esto aquí :S
        <a class="btn btn-dark sport-text" href="{{ path('game_edit', {id: game.id}) }}">Editar Juego</a>
        <form action="{{ path('game_delete') }}" method="POST" class="d-inline">
            <input type="hidden" name="id" value="{{ game.id }}">
            <input class="btn btn-dark sport-text" type="submit" value="Eliminar Juego">
        </form>
    {% endif %}#}

</div>
{% endblock %}
