{% extends 'base.html.twig' %}

{% block content %}
<div style="min-height: 867px;" class="pt-3">

    <h1>{% if game is defined %}{{ game.name }} - {% endif %}Torneos</h1>
    <ul class="list-group list-group-flush sport-text mb-3">
        {% for competition in competitions %}
        <li class="list-group-item d-flex justify-content-between w-75">
            <span class="d-flex align-items-center">
                <a href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}&nbsp;</a>
                - {{ competition.game.name }}{% if competition.description %} - {{ competition.description }}{% endif %}
            </span>
            {% if registration %}
                <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                    <input type="hidden" name="registration_id" value="{{ registration.id }}">
                    <input class="btn btn-dark sport-text" type="submit" value="Abandonar">
                </form>
            {% else %}
                <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                    <input type="hidden" name="competition_id" value="{{ competition.id }}">
                    <input class="btn btn-dark sport-text" type="submit" value="Unirse">
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if game is defined and canEditGame %}
        <a class="btn btn-dark sport-text" href="{{ path('game_edit', {id: game.id}) }}">Editar Juego</a>
        <form action="{{ path('game_delete') }}" method="POST" class="d-inline">
            <input type="hidden" name="game_id" value="{{ game.id }}">
            <input class="btn btn-dark sport-text" type="submit" value="Eliminar Juego">
        </form>
    {% endif %}

</div>
{% endblock %}
