{% extends 'base.html.twig' %}

{% block content %}
<div class="py-3">

    <h1>{% if game is defined %}{{ game.name }} - {% endif %}Torneos</h1>
    {% if game is defined %}<p>{{ game.description }}</p>{% else %}

    <select id="gameFilter" name="gameFilter" class="form-control col-12 mb-3 sport-text-form form-control-lg">
        <option name="gameFilterOption" value="">Filtrar por juegos</option>
        {% for game in games %}
            <option name="gameFilterOption" value="{{ game.id }}">{{ game.name }}</option>
        {% endfor %}
        {% endif %}
    </select>
    <ul id="competitionList" class="list-group list-group-flush sport-text mb-3">
        {% for competition in competitions %}
        <li value="{{ competition.game.id }}" class="list-group-item d-flex justify-content-between w-100 competition-item{{ competition.isFinished ? ' finished' : '' }}{{ competition.isOpen ? ' open' : '' }}">
            <span class="d-flex align-items-center">
                <a class="mr-1" href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}</a>
                {% if game is not defined %}({{ competition.game.name }}){% endif %}{% if competition.heldAt %} {{ competition.heldAt|toDateTimeLocal }}{% endif %}
            </span>
            {% if competition.isOpen %}
                {% set leave = false %}
                {% for registration in registrations %}
                    {% if competition == registration.competition %}
                        {% set leave = true %}
                        <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                            <input type="hidden" name="competition_id" value="{{ competition.id }}">
                            <input class="btn btn-dark sport-text confirmable" type="submit" value="Abandonar">
                        </form>
                    {% endif %}
                {% endfor %}
                {% if player and not leave %}
                    <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                        <input type="hidden" name="competition_id" value="{{ competition.id }}">
                        <input type="hidden" name="player_id" value="{{ player.id }}">
                        <input class="btn btn-dark sport-text" type="submit" value="Unirse">
                    </form>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if currentPage != 1 %}<li class="page-item"><a class="page-link" href="{{ currentPage - 1 }}">Previous</a></li>{% endif %}
          {% if currentPage != lastPage %}<li class="page-item"><a class="page-link" href="{{ currentPage + 1 }}">Next</a></li>{% endif %}
        </ul>
      </nav>
    {% if game is defined and canEditGame %}
        <a class="btn btn-dark sport-text" href="{{ path('game_edit', {id: game.id}) }}">Editar Juego</a>
        <form action="{{ path('game_delete') }}" method="POST" class="d-inline">
            <input type="hidden" name="game_id" value="{{ game.id }}">
            <input class="btn btn-dark sport-text confirmable" type="submit" value="Eliminar Juego">
        </form>
    {% endif %}

</div>
{% endblock %}
