<ul class="list-group list-group-flush sport-text mb-3">
    {% for competition in competitions %}
    <li class="list-group-item d-flex justify-content-between w-100 competition-item{{ competition.isFinished ? ' finished' : '' }}{{ competition.isOpen ? ' open' : '' }}">
        <span class="d-flex align-items-center">
            <a class="mr-1" href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}</a>
            {% if game is not defined %}({{ competition.game.name }}){% endif %}{% if competition.heldAt %} {{ competition.heldAt|toDateTimeLocal }}{% endif %}
        </span>
        {% if competition.isOpen %}
            {% set leave = false %}
            {% for registration in registrations %}
                {% if competition == registration.competition %}
                    {% set leave = true %}
                    <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                        <input type="hidden" name="competition_id" value="{{ competition.id }}">
                        <input class="btn btn-dark sport-text confirmable" type="submit" value="Abandonar">
                    </form>
                {% endif %}
            {% endfor %}
            {% if player and not leave %}
                <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                    <input type="hidden" name="competition_id" value="{{ competition.id }}">
                    <input type="hidden" name="player_id" value="{{ player.id }}">
                    <input class="btn btn-dark sport-text" type="submit" value="Unirse">
                </form>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if lastPage > 1 %}
<nav>
    <ul class="pagination sport-text">
        <li class="page-item{% if currentPage == 1 %} disabled{% endif %}"><a class="page-link" href="{{ path('competition_list', {page: currentPage - 1}) }}">Anterior</a></li>
        {% if currentPage > 2 %}<li class="page-item"><a class="page-link" href="{{ path('competition_list', {page: currentPage - 2}) }}">{{ currentPage - 2 }}</a></li>{% endif %}
        {% if currentPage > 1 %}<li class="page-item"><a class="page-link" href="{{ path('competition_list', {page: currentPage - 1}) }}">{{ currentPage - 1 }}</a></li>{% endif %}
        <li class="page-item active"><a class="page-link">{{ currentPage }}</a></li>
        {% if currentPage < lastPage %}<li class="page-item"><a class="page-link" href="{{ path('competition_list', {page: currentPage + 1}) }}">{{ currentPage + 1 }}</a></li>{% endif %}
        {% if currentPage < lastPage - 1 %}<li class="page-item"><a class="page-link" href="{{ path('competition_list', {page: currentPage + 2}) }}">{{ currentPage + 2 }}</a></li>{% endif %}
        <li class="page-item{% if currentPage == lastPage %} disabled{% endif %}"><a class="page-link" href="{{ path('competition_list', {page: currentPage + 1}) }}">Siguiente</a></li>
    </ul>
</nav>
{% endif %}