<ul class="list-group list-group-flush sport-text">
    {% for competition in competitions %}
    <li class="list-group-item d-flex justify-content-between col-12 {{ not competition.isOpen ? 'bg-light' : '' }} competition-item{{ competition.isFinished ? ' finished' : '' }}{{ competition.isOpen ? ' open' : '' }}">
        <div class="pl-3 row d-flex align-items-center">
            <a class="mr-1" href="{{ path('competition_show', {id: competition.id}) }}">{{ competition.name }}</a>
            {% if not game %}({{ competition.game.name }}){% endif %} - {% if competition.heldAt %} {{ competition.heldAt|toDateTimeLocal }}{% endif %}
        </div>
        {% if competition.isOpen %}
            {% set leave = false %}
            {% for registration in registrations %}
                {% if competition == registration.competition %}
                    {% set leave = true %}
                    <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                        <input type="hidden" name="competition_id" value="{{ competition.id }}">
                        <input id="submit_delete" class="btn btn-dark sport-text confirmable" type="submit" value="Abandonar">
                    </form>
                {% endif %}
            {% endfor %}
            {% if player and not leave %}
                <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                    <input type="hidden" name="competition_id" value="{{ competition.id }}">
                    <input type="hidden" name="player_id" value="{{ player.id }}">
                    <input id="submit_new" class="btn btn-dark sport-text" type="submit" value="Unirse">
                </form>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if lastPage > 1 %}
<nav>
    <ul class="mt-3 pagination justify-content-center sport-text">
        <li class="page-item{% if currentPage == 1 %} disabled{% endif %}"><a class="page-link" href="{{ path('competition_list', {page: currentPage - 1}) }}">Anterior</a></li>
        {% if currentPage > 1 %}
            {% for i in 1..(currentPage - 1) %}<li class="page-item"><a class="page-link" href="{{ path('competition_list', {page: i}) }}">{{ i }}</a></li>{% endfor %}
        {% endif %}
        <li class="page-item active"><a class="page-link">{{ currentPage }}</a></li>
        {% if currentPage < lastPage %}
            {% for i in (currentPage + 1)..lastPage %}<li class="page-item"><a class="page-link" href="{{ path('competition_list', {page: i}) }}">{{ i }}</a></li>{% endfor %}
        {% endif %}
        <li class="page-item{% if currentPage == lastPage %} disabled{% endif %}"><a class="page-link" href="{{ path('competition_list', {page: currentPage + 1}) }}">Siguiente</a></li>
    </ul>
</nav>
{% endif %}