{% extends 'base.html.twig' %}

{% block title %}Ver torneo | Round Breaker{% endblock %}

{% block content %}

<div class="row competition-title">
    <div class="col-12">
        <h1 class="text-center">{{competition.name}}</h1>
        <h4 class="text-center streamer">Organiza: <a href="{{ path('player_show', { id: competition.streamer.id }) }}">
            {{ competition.streamer.username }}
        </a></h4>
        <h4 class="text-center">Estado: {{ competition.isOpen ? "Abierta" : "Cerrada" }} y {{ competition.isFinished ? "Terminada" : "En Curso" }} - {{ competition.heldAt|toDateTimeLocal }}</h4>
        <h4 class="text-center">Máximo de equipos: {{ competition.maxPlayers/competition.playersPerTeam }} - Jugadores por equipo {{ competition.playersPerTeam }}</h4>
    </div>
</div>

<div class="row competition-buttons">
    <div class="col-12 text-center">

        {% if showEditButtons %}
            <a class="btn btn-dark mb-3 sport-text" href="{{ path('competition_edit', {id: competition.id}) }}">Editar Torneo</a>
            <form action="{{ path('competition_delete') }}" method="POST" class="d-inline">
                <input type="hidden" name="competition_id" value="{{ competition.id }}">
                <input id="submit_delete" class="btn btn-dark sport-text mb-3 confirmable" type="submit" value="Eliminar">
            </form>
        {% endif %}

        {% if showRegistrationButton %}
            {% if playerRegistration %}
                <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                    <input type="hidden" name="registration_id" value="{{ playerRegistration.id }}">
                    <input id="submit_delete" class="btn btn-dark sport-text mb-3" type="submit" value="Abandonar">
                </form>
            {% elseif is_granted('ROLE_USER') %}
                <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                    <input type="hidden" name="competition_id" value="{{ competition.id }}">
                    <input id="submit_new" class="btn btn-dark sport-text mb-3" type="submit" value="Unirse">
                </form>
                {% else %}
                    <a class="btn btn-dark mb-3 sport-text" href="{{ path('main', {login: true}) }}">Login/Registo para unirte</a>
            {% endif %}
        {% endif %}

    </div>
</div>

{% if bracketType > 0 %}
    <div class="row">
        <div class="col-12">
            {% if bracketType == 2 %}{% include 'brackets/bracket_2.html.twig' %}
            {% elseif bracketType == 4 %}{% include 'brackets/bracket_4.html.twig' %}
            {% elseif bracketType == 8 %}{% include 'brackets/bracket_8.html.twig' %}
            {% elseif bracketType == 16 %}{% include 'brackets/bracket_16.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="row competition-data">

    {% if bracketType > 0 %}
        <div class="col-12 col-lg-6">
            <h1>Equipos</h1>
            {% for team in competition.teams %}
                <div class="my-2 bg-light border team-item">
                    <div class="card-body">
                        <h5 class="card-title sport-text">{{ team.name }}</h5>
                        <ul class="list-group">
                            {% for player in team.players %}
                                <li class="list-group-item sport-text"><a href="{{ path('player_show', { id: player.id }) }}">
                                    {{ player.username }}
                                </a>{{player == team.captain ? '<i class="fa fa-star text-warning"></i>' : '' }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="col-12 col-lg-6 {{ competition.isOpen ? 'offset-lg-3' : '' }}">
        <h1>Inscripciones</h1>
        <ul class="list-group list-group-flush sport-text mb-3">
            {% for registration in competition.registrations %}
                <li class="list-group-item registration-item{{ registration.isConfirmed ? ' confirmed' : '' }}">
                    <a href="{{ path('player_show', { id: registration.player.id }) }}">
                        {{ registration.player.username }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
