{% extends 'base.html.twig' %}

{% block title %}Ver torneo | Round Breaker{% endblock %}

{% block content %}

<div class="row competition-title">
    <div class="col-12">
        <h1 class="text-center">{{competition.name}}</h1>
        <h4 class="text-center streamer">Organiza: <a href="{{ path('player_show', { id: competition.streamer.id }) }}">
            {{ competition.streamer.username }}
        </a></h4>
        <h4 class="text-center">Estado: {{ competition.isOpen ? "Abierta" : "Cerrada" }} y {{ competition.isFinished ? "Terminada" : "En Curso" }} - {{ competition.heldAt|toDateTimeLocal }}</h4>
        <h4 class="text-center">Máximo de equipos: {{ competition|teamsNumber }} - Jugadores por equipo: {{ competition.playersPerTeam }}</h4>
    </div>
</div>

<div class="row competition-buttons">
    <div class="col-12 text-center">

        {% if showEditButtons %}
            <a class="btn btn-dark mb-3 sport-text" href="{{ path('competition_edit', {id: competition.id}) }}">Editar Torneo</a>
            <form action="{{ path('competition_delete') }}" method="POST" class="d-inline">
                <input type="hidden" name="competition_id" value="{{ competition.id }}">
                <input id="submit_delete" class="btn btn-dark sport-text mb-3 confirmable" type="submit" value="Eliminar">
            </form>
        {% endif %}

        {% if showRegistrationButton %}
            {% if playerRegistration %}
                <form action="{{ path('registration_delete') }}" method="POST" class="d-inline">
                    <input type="hidden" name="registration_id" value="{{ playerRegistration.id }}">
                    <input id="submit_delete" class="btn btn-dark sport-text mb-3" type="submit" value="Abandonar">
                </form>
            {% elseif not is_granted('ROLE_ADMIN') %}
                {% if is_granted('ROLE_USER') %}
                    <form action="{{ path('registration_new') }}" method="POST" class="d-inline">
                        <input type="hidden" name="competition_id" value="{{ competition.id }}">
                        <input id="submit_new" class="btn btn-dark sport-text mb-3" type="submit" value="Unirse">
                    </form>
                {% else %}
                    <form method="post" action="{{ path('main') }}">
                        <input type="hidden" name="redirect_to" value="{{
                        path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))
                        }}" />
                        <button id="submit_new" type="submit" class="btn btn-dark mb-3 sport-text text-orange">
                            Login/Registo para unirte
                        </button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
</div>

{% if bracketType > 0 %}
    <div class="row">
        <div class="col-12">
            {% if bracketType == 2 %}{% include 'brackets/bracket_2.html.twig' %}
            {% elseif bracketType == 4 %}{% include 'brackets/bracket_4.html.twig' %}
            {% elseif bracketType == 8 %}{% include 'brackets/bracket_8.html.twig' %}
            {% elseif bracketType == 16 %}{% include 'brackets/bracket_16.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="row competition-data">

    {% if bracketType > 0 %}
        <div class="col-12 col-lg-6">
            <h1>Equipos</h1>
            {% for team in competition.teams %}
                <div class="my-2 bg-light border team-item">
                    <div class="card-body">
                        <h5 class="card-title sport-text">{% if player in team.players %}<a href="{{ path('team_show', {id: team.id}) }}">{{ team.name }}</a>{% else %}{{ team.name }}{% endif %}</h5>
                        <ul class="list-group">
                            {% for teamPlayer in team.players %}
                                <li class="list-group-item sport-text"><a href="{{ path('player_show', { id: teamPlayer.id }) }}">
                                    {{ teamPlayer.username }}
                                </a>{{ teamPlayer.equals(team.captain) ? '<i class="fa fa-star text-warning"></i>' : '' }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="col-12 col-lg-6 {{ competition.isOpen ? 'offset-lg-3' : '' }}">
        <div class="text-center">
            <h1 class="d-inline-block align-middle">Inscripciones</h1>
            <h4 class="d-inline-block align-middle"><span class="badge badge-dark sport-text text-orange pl-2 ml-2 mb-1">{{competition.registrations|length}}</span></h4>
        </div>
        <ul class="list-group list-group-flush sport-text mb-3">
            {% for registration in competition.registrations %}
                <li class="list-group-item registration-item{{ registration.isConfirmed ? ' confirmed' : '' }}">
                    <a href="{{ path('player_show', { id: registration.player.id }) }}">
                        {{ registration.player.username }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
