{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    {% if competition.isopen == false %}
    {% include 'brackets/bracket_8.html.twig' %}
    {% endif %}
</div>
{% if competition.isopen == false %}
<div>
    <h1>Equipos</h1>
    {% for team in teams %}

    <div class="w-50 my-2 bg-light border">
        <div class="card-body">
            <h5 class="card-title sport-text">{{ team.name }}</h5>
            <ul class="list-group">
                {% for player in team.players %}
                <li class="list-group-item sport-text">{{ player.username }}
                    <!--<a href="#"><i class="fas fa-skull"></i></a>-->
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    {% endfor %}
{% endif %}
    <div>
        <h1>{% if competition.isopen%}{{competition.name}} - {% endif %}Jugadores Registrados</h1>
        <ul class="list-group list-group-flush sport-text">
            {% for registration in competition.registrations %}
            <li class="list-group-item w-50">{{ registration.player.username }}
                {% if createStreamerButtons or is_granted('ROLE_ADMIN') %}
                <span class="float-right">
                    <a href="#"><i class="fas fa-skull"></i></a>
                    <form action="/competition/toggle_confirmation" method="POST" class="d-inline">
                        <input type="hidden" name="competitionId" value="{{ competition.id }}">
                        <input type="hidden" name="playerId" value="{{ player.id }}">
                    {% if registration.isConfirmed == true %}
                        <input class="btn btn-dark sport-text mb-3" type="submit" value="Unconfirm">
                    {% else %}
                        <input class="btn btn-dark sport-text mb-3" type="submit" value="Confirm">
                    {% endif %}
                 </form>
                </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if createStreamerButtons or is_granted('ROLE_ADMIN') %}
<a class="btn btn-dark mb-3 sport-text" href="{{ path('competition_edit', {id: competition.id}) }}">Editar Torneo</a>
        <form action="/competition/delete" method="POST" class="d-inline">
        <input type="hidden" name="id" value="{{ competition.id }}">
        <input class="btn btn-dark sport-text mb-3" type="submit" value="Eliminar">
    </form>
{% endif %}
{% if createRegistrationButtons %}
    {% if player in competition.players %}
        <form action="/competition/registration_delete" method="POST" class="d-inline">
            <input type="hidden" name="competitionId" value="{{ competition.id }}">
            <input type="hidden" name="playerId" value="{{ player.id }}">
            <input class="btn btn-dark sport-text mb-3" type="submit" value="Abandonar">
        </form>
    {% else %}
        <form action="/competition/registration_new" method="POST" class="d-inline">
            <input type="hidden" name="id" value="{{ competition.id }}">
            <input class="btn btn-dark sport-text mb-3" type="submit" value="Unirse">
        </form>
    {% endif %}
{% if createRandomizeButton  %}
<a class="btn btn-dark mb-3" href="{{ path('competition_randomize', {id: competition.id}) }}">Randomize Competition</a>
{% endif %}
{% endif %}
</div>
{% endblock %}
