<div class="container-fluid bg-dark">
    <div class="row">
        <div class="d-flex align-items-center ml-2 col-md-2">
            <img src="{{ asset('img/logo.svg') }}" width="100" alt="logo" class="align-self-center rounded">
        </div>
        <div class="col flex-grow-1">
            <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                <div class="d-flex flex-grow-1 align-items-center">
                    <div class="w-100 titulo">
                        <span class="text-left align-middle d-none d-md-block"><b>¡más de {{ competitionsCount - 1 }} torneos organizados!</b></span>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 text-right menu" id="navbarNav">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item">
                            <b><a class="nav-item nav-link active" href="{{ path('main') }}">Home <span class="sr-only">(current)</span></a></b>
                        </li>
                        <li class="nav-item">
                            <b><a href="{{ path('competition_list') }}" class="nav-link">Torneos</a></b>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <b><a href="{{ path('game_list') }}" class="nav-link">Games</a></b>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <b><a href="{{ path('profile') }}" class="nav-link">Panel de Jugador</a></b>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>