<div class="bg-dark main-menu sticky-top sport-text text-orange letter-spaced">
    <div class="d-flex">
        <div class="p-2">
            <a href="{{ path('main') }}"><img src="{{ asset('img/logo.svg') }}" width="100" alt="Round Breaker logo" class="rounded"></a>
        </div>
        <div class="p-2 mr-auto d-lg-flex align-items-center d-none letter-spaced main-title">
            <strong>¡Más de {{ competitionsCount - 1 }} torneos organizados!</strong>
        </div>
        <div class="p-2 ml-auto">
            <button class="navbar-toggler d-lg-none text-orange h-100" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Abrir menú">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="flex-lg-nowrap list-unstyled m-0 d-none d-lg-flex h-100 align-items-center" id="main-menu">
                <li class="nav-item">
                    <a href="{{ path('main') }}" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('competition_list') }}" class="nav-link">Torneos</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('game_list') }}" class="nav-link">Juegos</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a href="{{ path('profile') }}" class="nav-link">Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <form method="post" action="{{ path('main') }}">
                        <input type="hidden" name="redirect_to" value="{{
                        path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))
                        }}" />
                        <button id="submit_new" type="submit" class="nav-link btn btn-link text-orange letter-spaced">
                            <strong>Login / Registro</strong>
                        </button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>